.sidebar {
    background-color: rgba(13, 101, 217, 1);
    width: 12em;
    height: 38em;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}

#Rectangle_32 {
    fill: rgba(255, 255, 255, 1);
}

.Rectangle_32 {

}

.header-logo {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.4em;
    margin-left: 1.6em;
    padding-top: 1.6em;
}

ul{
    margin-top: 1em;
}

li{
    padding-top: 1.8em;
    margin-left: 0.9em;
    color: rgba(148,189,242,1);
    font-weight: 300;
}

li:hover
{
    color: rgba(255, 255, 255, 1);
}

.button-logout
{
    margin-left: 2.7em;
    color: rgba(148,189,242,1);
    margin-top: 11em;
    background: none;
}

.horizontal-line
{
    width: 8em;
    margin-left: 1em;
    border: 1px solid rgba(148,189,242,1);
}

.sidebar-text-one
{
    font-size: 0.8em;
    color: rgba(148,189,242,1);
    margin-left: 0.5em;
    margin-top: -0.5em;
}

.sidebar-text-two
{
    font-size: 0.8em;
    color: rgba(148,189,242,1);
    margin-left: 0.5em;
}