.sidebar {
    background-color: rgba(13, 101, 217, 1);
    width: 15em;
    height: 88vh;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}

#Rectangle_32 {
    fill: rgba(255, 255, 255, 1);
}

.header-logo {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.5em;
    padding: 1.5em;
    margin-top: 0.5em;
    
}

.ul-icons{
    list-style-type: none;
    margin-left: -0.5em;
}

li{
    padding: 1rem;
    color: rgba(148,189,242,1);
    font-weight: 300;
}

i{
    padding-right: 1em;
}

li:hover
{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.button-logout
{
    margin-left: 1.5em;
    color: rgba(148,189,242,1);
    background: none;
}

.button-logout:hover
{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}


.horizontal-line
{
    width: 10em;
    margin-left: 1em;
    border: 1px solid rgba(148,189,242,1);
}

.sidebar-footer-text
{
    display:block;
    font-size: 0.8em;
    color: rgba(148,189,242,1);
    margin-left: 1em;
}

.sidebar-footer{
    margin-top: 25vh;
    
}

a{
    padding: 0.5em;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}

a:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: none;
    text-decoration: none;
}

@media (min-width:1200px){
    #icon-back{
        display: none;
    }
}

@media (max-width:1200px){
    .sidebar {
        height: 85vh;
        width: 55vw;
        z-index: 1;
        position: fixed;
    }
    #icon-back{
        color: white;
        float: right;
        font-size: 25px;
    }
    #icon-back:focus{
        cursor: pointer;
    }

    .header-logo {
        
        margin-top: 0em;
        
    }

    
.ul-icons{
    list-style-type: none;
    margin-left: -0.25em;
}

li{
    padding: 1rem;
    color: rgba(148,189,242,1);
    font-weight: 200;
}

i{
    padding-right: 0.5em;
}

li:hover
{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.button-logout
{
    margin-left: 1em;
    color: rgba(148,189,242,1);
    background: none;
}

.button-logout:hover
{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}


.horizontal-line
{
    width: 8em;
    margin-left: 0.75em;
    border: 1px solid rgba(148,189,242,1);
}

.sidebar-footer-text
{
    display:block;
    font-size: 0.8em;
    color: rgba(148,189,242,1);
    margin-left: 1em;
}

.sidebar-footer{
    
    margin-top: 19vh;
}

a{
    padding: 0.5em;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}

}