
.chat {
    display: flex;
}

.chat-mob{
    display: none;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: inline-flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: contents;
    flex-grow: 1;
    
}

.message-input {
    border: 1px solid #eeeeee;
    padding: 5px;
    width: 20%;
    outline: none;
    margin-right: 15px;
}

.send-button {
    cursor: pointer;
    padding: 8px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 14px;
    transition: background .3s ease;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

@media (max-width: 1200px){

    .chat{
        display: none;
    }

    .chat-mob {
        display: block;
    }

    #bell-j {
        float: right;
        color: black
    }
    
    #bars-j {
        float: left;
        color:black;
    }

    .message-input {
        border: 1px solid #eeeeee;
        padding: 5px;
        width: 20%;
        outline: none;
        margin-right: 15px;
    }
    
    .send-button {
        cursor: pointer;
        padding: 8px;
        background: #7C5CBF;
        margin-right: 10px;
        border: none;
        color: white;
        font-size: 14px;
        transition: background .3s ease;
    }

    
}