*{
    text-decoration: none;
    list-style: none;
}

nav{
    background:#4481eb;
    height: 70px;
    width: 100vw;
}

label.logo{
    float: left;
    color: white;
    font-size: 35px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul{
    float: left;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover{
    background: blueviolet;
    transition: .5s;
    cursor: pointer;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.btn-logout{
  border: solid 3px;
  float: right;
  margin-right: 2.5vw;
  height: 30px;
  background: inherit;
  margin-top: 17.5px;
  width: 100px;
  border-color: green;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  transition: 0.75s;
  color: white;
}

.btn-logout:hover{
    border-color: red;
}

@media (max-width:952px){

    label.logo{
        font-size: 30px;
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width:858px){

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 240px;
        height: 100vh;
        background: #233e6d;
        top: 70px;
        text-align: center;
        transition: width 1s;
    }

    
    nav ul li{
    display: block;
    margin: 20px 0;
    line-height: 30px;
    }

    nav ul li a{
        font-size: 15px;
    }

    a:hover{
        color: blueviolet;
        background: none;
    }

    #check:checked ~ ul{
       display: none;
        
    }

    .btn-logout{
        display: block;
    }
}
